In [10]:
month = ['쌍', '쇠', '복', '돌', '팽', '육', '쌍', '개' ,'칠' ,'갑' ,'삼', '방']
print (month)

['쌍', '쇠', '복', '돌', '팽', '육', '쌍', '개', '칠', '갑', '삼', '방']

In [11]:
day = [['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님', '년', '돌', '단', '득', '방', '질', '장', 
        '걸', '래', '룡', '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']]
print (day)

[['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님', '년', '돌', '단', '득', '방', '질', '장', '걸', '래', '룡', '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']]

In [33]:
def get_my_chosun_name(family_name, month_number, day_number):
    month = ['쌍', '쇠', '복', '돌', '팽', '육', '쌍', '개' ,'칠' ,'갑' ,'삼', '방']
    day = ['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님', '년', '돌', '단', '득', '방', '질', '장', 
        '걸', '래', '룡', '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']
    
  
    
    full_name = family_name + month[month_number - 1] + day[day_number - 1]
    
    return full_name

    
result_name = get_my_chosun_name('안', 9, 18)
print(f"당신의 조선시대 이름은 {result_name} 입니다.")

당신의 조선시대 이름은 안칠걸 입니다.